<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Edit your Listing</h3>
            <form action="/listings/<%= listing._id %>?_method=put" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listings[title]" type="text" placeholder="Enter title" class="form-control" value="<%= listing.title %>">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listings[description]" placeholder="Enter description" class="form-control"><%= listing.description %></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listings[image][url]" type="text" placeholder="Enter image URL/Link" class="form-control" value="<%= listing.image.url %>">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listings[price]" type="number" placeholder="Enter Price" class="form-control" value="<%= listing.price %>">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listings[country]" type="text" placeholder="Enter Country" class="form-control" value="<%= listing.country %>">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listings[location]" type="text" placeholder="Enter location" class="form-control" value="<%= listing.location %>">
                </div>

                <button class="btn btn-dark edit-btn">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
